!!! 5
%html
	%head
		%title Animated Text and Icon Menu
		%meta{:charset=>"utf-8"}
		%meta{:name=>"author",:content=>"Alireza Eskandarpour Shoferi <cyletech@gmail.com>"}
		%link{:rel=>"stylesheet",:href=>"assets/css/normalize.css"}
		%link{:rel=>"stylesheet",:href=>"assets/css/font-awesome.min.css"}
		%link{:rel=>"stylesheet",:href=>"assets/css/all.min.css"}
	%body
		#wrapper
			%ul#boxes
				%li
					%h2.icon-home.icon-4x
					%h3 Lorem ipsum
					%span Lorem ipsum
				%li
					%h2.icon-camera.icon-4x
					%h3 Lorem ipsum
					%span Lorem ipsum
				%li
					%h2.icon-beaker.icon-4x
					%h3 Lorem ipsum
					%span Lorem ipsum